@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B85042;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
}

.custom-navbar {
  background-color: #B85042 !important; 
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff !important;
  text-transform: uppercase;
}

.custom-navbar .navbar-nav .nav-link {
  color: #E7E8D1 !important;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #A7BEAE; 
  border-radius: 5px;
}

.custom-navbar .navbar-nav .nav-link.active {
  background-color: #A7BEAE; 
  border-radius: 5px;
}

.custom-navbar .navbar-nav .nav-item {
  margin-right: 20px;
}


